<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS - WebPage</title>
    <link rel="stylesheet" href="css/estilos.css">
    <!-- <style>
        body {
            background-color: #eee;
        }
        h1 {
            color: purple;
        }
        p {
            color: crimson;
        }
    </style> -->
</head>
<body>
    <h1>Mi página web desde NodeJS</h1>
    <hr>
    
    <!-- <form action="/login" method="get"> -->
    <form action="/login" method="post">
        <input type="text" name="usuario" placeholder="ingrese usuario">
        <input type="text" name="password" placeholder="ingrese contraseña">
        <button>Login</button>
    </form>
    <hr>

    <a href="/visitas">Ver cantidad de visitas</a>
    <br>
    <img src="./imgs/paisaje.jpg" alt="foto de un paisaje">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam temporibus, iste expedita fugit magnam doloremque asperiores mollitia vel obcaecati officiis non ullam perferendis illo quia accusantium minus id fugiat sapiente?
    </p>

    <script src="js/main.js"></script>
    <!-- <script>
        console.log(document.querySelector('title').textContent)
    </script> -->
</body>
</html>